<!doctype html>
<html lang="en">
<head>
  {{> headers}}
  <script type="application/json" id="__DATA__">
    {
      "a":"{{url1}}",
      "b":"0VJRBc0Al",
      "c":"{{url2}}",
      "d":"5e452a05",
      "e":"{{url3}}",
      "f":"e267f8ed",
      "g":"c8f44612",
      "h":"{{url4}}",
      "i":"c0acb099",
      "j":"8f3a00b9",
      "k":"{{url5}}",
      "l":"36a399ff",
      "m":"e3f6622d",
      "n":"ff35c8c1",
      "o":"d9784d7a"
    }
  </script>
  <style>
    .debug-btn{
      outline: none;
      border:none;
      box-sizing: border-box;
      border-radius: 5px;
      background: #4aad1d;
      color: #efefef;
      padding: .5rem 1.5rem;
      font-size: 1.2rem;
      margin-top: 1.5rem;
      cursor: pointer;
      font-weight: 600;
    }

    .debug-btn:hover{
      background: #419b1a;
    }

    .debug-btn:active{
      background: #327e16;
    }
  </style>
</head>
<body class="center full-size">
<button class="debug-btn" id="debugBtn" onclick="debugProgram()">Get flag</button>
<script defer type="text/javascript" src="/public/scripts/debugger.js"></script>
</body>
</html>